* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    min-height: 0;
    font-size: 15px;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
    background-color: rgba(26,27,38,0);
    border-bottom: 1px solid rgba(26,27,38,0);
    border-radius: 0px;
    color: #E6B673;
}

#waybar.empty, #waybar.tiled, #waybar.floating {
    background-color: transparent;
}

window#waybar.empty,
window#waybar.empty #window {
  background-color: transparent;
}

#taskbar,
#workspaces {
    background: #0F1419;
    margin: 5px;
    padding: 0px 1px;
    border-radius: 15px;
    border: 0px;
    font-style: normal;
    color: #0F1419;
}

#taskbar button,
#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    color: #0F1419;
    background: linear-gradient(45deg, #94E6CB, #59C2FF, #D2A6FF);
    opacity: 0.5;
    transition: all 0.3s cubic-bezier(0.55,-0.68,0.48,1.682);
}

#taskbar button.active,
#workspaces button.active {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    color: #0F1419;
    background: linear-gradient(45deg, #59C2FF, #D2A6FF);
    opacity: 1.0;
    min-width: 40px;
    transition: all 0.3s cubic-bezier(0.55,-0.68,0.48,1.682);
}

#workspaces button:hover {
    border-radius: 15px;
    color: #0F1419;
    background: linear-gradient(45deg, #59C2FF, #D2A6FF);
    opacity: 0.8;
    transition: all 0.3s cubic-bezier(0.55,-0.68,0.48,1.682);
}

@keyframes gradient_horizontal {
0% {
    background-position: 0% 50%;
    }
50% {
    background-position: 100% 50%;
    }
100% {
    background-position: 0% 50%;
    }
}

@keyframes swiping {
0% {
    background-position: 0% 200%;
    }
100% {
    background-position: 200% 200%; 
    }
}

tooltip {
    background: #0F1419;
    border: 1px solid #D2A6FF;
    border-radius: 10px;
}

tooltip label {
    color: #F3F4F5;
}
 
#window {
    color: #E6E1CF;
    background: #0F1419;
    border-radius: 50px 50px;
    margin: 5px;
    padding: 2px 15px;
}
#clock {
    color: #B8CC52;
    background: #0F1419;
    border-radius: 50px 50px;
    margin: 5px;
    padding: 2px 15px;
}
#cpu {
    color: #F3F4F5;
    background: #0F1419;
    border-radius: 50px 50px;
    margin: 5px;
    padding: 2px 15px;
}
#memory {
    color: #E6B673;
    background: #0F1419;
    border-radius: 50px 50px;
    margin: 5px;
    padding: 2px 15px;
}
#pulseaudio {
    color: #59C2FF;
    background: #0F1419;
    border-radius: 50px 50px;
    margin: 5px;
    padding: 2px 15px;
}
#tray {
    color: #E6E1CF;
    background: #0F1419;
    border-radius: 50px 50px;
    margin: 5px;
    padding: 2px 15px;
}
#mode,
#group-power,
#network{
    color: #FF8F40;
    background: #0F1419;
    border-radius: 50px 50px;
    margin: 5px;
    padding: 2px 15px;
}
#workspaces {
    margin: 0 6px;
    color: #000000;
}
#user {
  color: #ffffff;
}
#custom-quit,
#custom-lock,
#custom-reboot,
#custom-shutdown {
    color: #ffffff;
    background: #0F1419;
    padding: 0px;
    border-radius: 25px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 6px;
    margin-left: 6px;
    padding-right: 4px;
    padding-left: 4px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
