// Modular config for niri to parse

include "config/environment.kdl"
include "config/input.kdl"
include "config/monitors.kdl"
include "config/autostart.kdl"
include "config/keybinds.kdl"
include "config/windows.kdl"
include "config/layout.kdl"

// custom script takes care of screenshots
screenshot-path null
