////////////
// Layout //
////////////

layout {
    gaps 4
    center-focused-column "never"
    always-center-single-column
    // empty-workspace-above-first
    default-column-display "tabbed"
    background-color "transparent"

    default-column-width { proportion 1.0; }

    // You can customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
      proportion 0.33333
      proportion 0.5
      proportion 0.66667
      proportion 1.0
    }
    preset-window-heights {
      proportion 0.33333
	    proportion 0.5
	    proportion 0.66667
      proportion 1.0
    }

    focus-ring {
      on
      width 2
      //active-color "#7fc8ff44"
      //inactive-color "#50505088"
      active-gradient from="#77228877" to="#bb77cc99" angle=45
      inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    // But the focus ring is perferable.
    border {
      off
      width 4
      //active-color "#ffc87f"
      //inactive-color "#505050"
      urgent-color "#9b0000"
      active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"
      inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    shadow {
        on
        draw-behind-window true

        // Softness controls the shadow blur radius.
        softness 30

        // Spread expands the shadow.
        spread 5

        // Offset moves the shadow relative to the window.
        offset x=0 y=5

        // You can also change the shadow color and opacity.
        color "#0007"
    }

    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    // You can think of them as a kind of outer gaps. They are set in logical pixels.
    // Left and right struts will cause the next window to the side to always be visible.
    // Top and bottom struts will simply add outer gaps in addition to the area occupied by
    // layer-shell panels and regular gaps.
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

animations {
    on

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0

    workspace-switch {
      spring damping-ratio=0.9 stiffness=1000 epsilon=0.0001
    }

    window-open {
        duration-ms 150
        curve "ease-out-quad"
    }

    window-close {
        duration-ms 150
        curve "ease-out-expo"
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }

    exit-confirmation-open-close {
        spring damping-ratio=0.6 stiffness=500 epsilon=0.01
    }

    // Niri screenshotting is not used
    /-screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    recent-windows-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.001
    }
}

blur {
    on
    passes 2
    offset 3
    noise 0.02
    saturation 1.0
}

// get rid of client-side decorations
prefer-no-csd 
