// Window rules let you adjust behavior for individual windows.

// All options that can be a window inherits
/-window-rule {
    match title="Firefox"
    match app-id="Alacritty"
    match is-active=true
    match is-focused=false
    match is-active-in-column=true
    match is-floating=true
    match is-window-cast-target=true
    match is-urgent=true
    match at-startup=true

    // Properties that apply once upon window opening.
    default-column-width { proportion 0.75; }
    default-window-height { fixed 500; }
    open-maximized true
    open-maximized-to-edges true
    open-fullscreen true
    open-floating true
    open-focused false

    // Properties that apply continuously.
    draw-border-with-background false
    opacity 1.0
    block-out-from "screencast"
    // block-out-from "screen-capture"
    variable-refresh-rate true
    default-column-display "tabbed"
    default-floating-position x=100 y=200 relative-to="bottom-left"
    scroll-factor 0.75

    focus-ring {
        // off
        on
        width 4
        active-color "#7fc8ff"
        inactive-color "#505050"
        urgent-color "#9b0000"
        // active-gradient from="#80c8ff" to="#bbddff" angle=45
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
        // urgent-gradient from="#800" to="#a33" angle=45
    }

    shadow {
        // on
        off
        softness 40
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#00000064"
        // inactive-color "#00000064"
    }

    tab-indicator {
        active-color "red"
        inactive-color "gray"
        urgent-color "blue"
        // active-gradient from="#80c8ff" to="#bbddff" angle=45
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
        // urgent-gradient from="#800" to="#a33" angle=45
    }

    geometry-corner-radius 12
    clip-to-geometry true
    tiled-state true
    baba-is-float true

    background-effect {
        xray true
        blur true
        noise 0.05
        saturation 3
    }

    popups {
        opacity 0.5
        geometry-corner-radius 15

        background-effect {
            xray true
            blur true
            noise 0.05
            saturation 3
        }
    }

    min-width 100
    max-width 200
    min-height 300
    max-height 300
}

window-rule {
    match title="kitty"
    open-maximized false
}

window-rule {
  geometry-corner-radius 2
  draw-border-with-background false
  background-effect {
    xray false
  }
}

window-rule {
    match is-active=false
    opacity 0.90
    background-effect {
        blur true
    }
}

window-rule {
  match app-id="^org.gnome.*"
  match app-id="^org.kde.*"
  opacity 0.9
  background-effect {
    blur true
  }
}

// Open the Firefox picture-in-picture player as floating by default.
/-window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id=r#"firefox$"# title="^Library$"
    match app-id=r#"mpv$"#
    match app-id=r#"libresprite$"#
    match app-id=r#"waypaper$"#
    match app-id=r#"Audacity$"#

    open-floating true
    opacity 1.0
}

window-rule {
    match app-id=r#"chromium$"#
    match app-id=r#"vivaldi-stable$"#
    match app-id=r#"virt-manager$"#
    match app-id=r#"^com\.obsproject\.Studio$"#

    opacity 1.0
}

window-rule {
    match app-id=r#"^com\.obsproject\.Studio$"#

    min-width 876
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

/-window-rule {
  // Open all windows as maxed
  open-maximized true
}
